body {
    background-image: url('../img/fondo/construccion.jpg'); 
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}