.volver-link {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
}

.volver-link img {
    width: 100px; 
    height: 100px;
}

body {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.web-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    width: 250px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.web-card:hover {
    transform: scale(1.05);
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-info {
    padding: 10px;
}

h3 {
    margin: 0;
}

p {
    color: #666;
    margin: 5px 0;
}

.card-types {
    margin-top: 10px;
    display: flex;
}

.card-types span {
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 50px;
    font-size: 14px;
}

.rojo { background-color: #e95757; }
.verde { background-color: #70e49c; }
.morado { background-color: #9e77f8; }
.naranja { background-color: #bd9344; }
.azul { background-color: #3a2cfd; color: #ffff;}
.rosa { background-color: #df70d0; }
.gris { background-color: #c0c0c0; }
.naranja-oscuro { background-color: #dfa56487; }
.verde-claro { background-color: rgba(103, 230, 132, 0.8); }
.blanco { background-color: #ffff; color: #000; }
.negro { background-color: #000; color: #ffff; }
.amarillo { background-color: #ffd700; }
.violeta { background-color: #8a2be2; }
.cyan { background-color: #00ffff; }
.azul-marino { background-color: #000080; color: #ffff;}
.celeste { background-color: #87ceeb; }
.salmon { background-color: #fa8072; }
.verde-oliva { background-color: #808000; }
.lavanda { background-color: #e6e6fa; }
.coral { background-color: #ff7f50; }
.burlywood { background-color: #deb887; }
.indigo { background-color: #4b0082; color: #ffff;}
.teal { background-color: #008080; }
.lima { background-color: #00ff00; }
.purpura { background-color: #800080; }
.chocolate { background-color: #d2691e; }
.magenta { background-color: #ff00ff; }
.turquesa { background-color: #40e0d0; }
.naranja-oscuro { background-color: #ff8c00; }
.rosa-claro { background-color: #ffc0cb; }
.azul-acero { background-color: #4682b4; }
.verde-lima { background-color: #32cd32; }
.peru { background-color: #cd853f; }
.oliva { background-color: #808000; }
.lavanda-oscuro { background-color: #9932cc; }
.salmon-claro { background-color: #ffa07a; }
.marfil { background-color: #fffff0; }
.azul-medianoche { background-color: #191970; color: #ffff;}
.plata {background: linear-gradient(to bottom right, #f0f0f0, #d8d8d8, #f0f0f0);}
.oro {background: linear-gradient(to bottom right, #ffd700, #fbc02d, #ffd700);}
. {background: linear-gradient(to bottom right, #cd7f32, #8b4513, #cd7f32);}
.cobre {background: linear-gradient(to bottom right, #b87333, #8b4513, #b87333);}
.acero {background: linear-gradient(to bottom right, #d3d3d3, #b0b0b0, #d3d3d3);}
.titanio {background: linear-gradient(to bottom right, #c0c0c0, #838383, #c0c0c0);}
.aluminio {background: linear-gradient(to bottom right, #bdbdbd, #a6a6a6, #bdbdbd);}
.niquel {background: linear-gradient(to bottom right, #c0c0c0, #808080, #c0c0c0);}
.GB {background: linear-gradient(to bottom, #b8d79b, #a1cc81, #8ac266, #73b74c, #5dae32, #46a318, #2f9800, #288e00, #208400, #177b00, #0f7100, #066700, #005d00, #004400, #003a00, #003100, #002700, #001e00, #001400, #000b00, #000100); color: #ffff;}
.microsoft {background: linear-gradient(to bottom right, #f25022, #7fba00, #00a4ef, #ffb900);}
.google {background: linear-gradient(to bottom right, #4285f4, #34a853, #fbbc05, #ea4335);}