.body {
    margin: 0;
    padding: 0;
    background-color: #fef2f8; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; 
}

.css2 {
    text-align: center;
    padding-top: 30px; 
    max-height: calc(100vh - 60px); 
    overflow-y: auto; 
}

.busquedaInput {
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ffb2d9; 
    width: 70%;
    max-width: 300px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff; 
}

.buttons {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    text-decoration: none;
    margin: 2px;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: url("../../img/iconos/boton.jpg"); 
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000; 
    transition: background-image 1s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
p{
    color: #000;
}
.button:hover {
    background-image: url("../../img/iconos/botonhover.jpg"); 
}

.button-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.otros-container {
    margin-top: 30px;
}


#otros {
    margin-right: 10px;
}

#frase2 {
    font-style: italic;
    color: #000000;
    position: relative; 
    padding: 10px; 
    display: inline-block; 
    background-color: #ffb2d881;
    border-radius: 20px; 
    height: 60px;
}

.container {
    background-image: url("../../img/iconos/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    margin: 0 auto; 
    max-width: 500px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.css1,
.css3,
.css4{
    display: none;
}
