body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("img/wallpaper.jpg");background-repeat: no-repeat; background-size: 100% 100%;}
}

#container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    min-width: 400px;
}

.controls-container {
    position: fixed;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04800eb9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 300px;
}

.controls-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.controls-container button:hover {
    background-color: #45a049; 
}

.controls-container select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.controls-container #timer {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
}

#game-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 2px;
    background-color: #bbb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #b6b6b6;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.revealed {
    cursor: default;
    background-color: #ffff;
}

.cell.bomb {
    background-color: #ff6666; 
}

.cell.win {
    background-color: #107e19; 
}

.cell button {
    background-color: inherit; 
    color: #333;
    border: none;
    padding: 0; 
    width: 100%;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell button:hover {
    background-color: #bbb;
}

@media screen and (max-width: 1110px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .controls-container {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #04800eb9;
        padding-top: 100px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }

    .controls-container button {
        padding: 5px 10px;
        font-size: 12px;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
    }

    .controls-container button:hover {
        background-color: #45a049; 
    }

    .controls-container select {
        padding: 8px 15px; 
        font-size: 14px; 
        border-radius: 5px;
        border: none;
        margin-bottom: 5px;
        width: 140px; 
        max-width: 100%; 
    }

    .controls-container #timer {
        font-size: 15px;
        color: #fff;
    }

    #game-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        justify-content: center; 
        align-items: center; 
        gap: 1px;
        background-color: #bbb;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 0;
    }

    .cell {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}